<ng-container *ngIf="vm$ | async as vm">
  <h1>Users</h1>

  <div>Add a User</div>
  <input
    #user
    type="text"
    (change)="
      addUserState.next({
        id: 1,
        name: user.value,
        email: 'user@mail.com',
        loggedIn: false
      })
    "
  />
  <hr />

  <div *ngFor="let user of vm.items">
    <button (click)="deleteUserState.next(user)">X</button>
    <button (click)="showUserState.next(user)">detail</button>
    {{ user.name }} - {{ user.email }}
  </div>

  <div style="margin-top: 1em" *ngIf="vm.selectedItem">
    {{ vm.selectedItem.name }} - {{ vm.selectedItem.email }}
    <button (click)="closeUserState.next()">close</button>
  </div>
</ng-container>
